@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: rgb(201, 188, 115);
    
}

header {
    padding: 20px;
}

section {
    margin: auto;
    height: 250px;
    width: 450px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
}

section div#hora {
    color: black;
    padding: 20px;
}

section img {
    height: 30vh;
}


footer {
    padding: 10px;
    font-style: italic;
}